*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/*General Rules*/

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 30px;
}

.margin-top-30 {
    margin-top: 20px;
}
.margin-top-45 {
    margin-top: 45px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-top-75 {
    margin-top: 75px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-top-150 {
    margin-top: 150px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-45 {
    margin-bottom: 45px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-bottom-75 {
    margin-bottom: 75px;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}

.relative{
    position: relative;
}

.flex{
    display: flex;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.inlineB{
    display: inline-block;
}

.small-text{
    font-size:11px;
}

.medsmall-text{
    font-size: 13px;
}

.normal-text{
    font-size: 16px;
}

.med-text{
    font-size: 30px;
}

.medbig-text{
    font-size: 40px;
}

.big-text{
    font-size: 60px;
}

.gray-text{
    color: rgb(114, 114, 114);
}

.black-text{
    color: black;
}

.white-text{
    color: white;
}

.blue-text{
    color: rgb(34, 86, 240);
}

.semi-bold{
    font-weight: 700;
    color: rgb(75, 72, 72);
}

.bold{
    font-weight: bold;
}

.center-text{
    text-align: center;
}

a{
    text-decoration: none;
    color: gray;
}

a:hover{
    color: white;
}

/*Menù laterale*/

div.menu-container nav > img{
    width: 120px;
    padding-left: 20px;
    margin-top: 15px;
}

div.menu-container ul{
    list-style-type: none;
}

div.menu-container ul li{
    padding-left: 20px;
    margin-top: 15px;
    font-size: 0.7em;
    line-height: 100%;
}

div.menu-container a{
    align-self: center;
    margin-left: 5px;
}

div.menu-container i{
    color: white;
}

div.menu-container nav ul img{
    width: 20px;
}

nav{
    align-self: flex-start;
}

.border-left-lime{
    border-left: 3px solid chartreuse;
}

.big-plus{
    width: 30px;
    height: 30px;
    background-color: gray;
    display: inline-block;
    color: black;
    position: relative;
}

.big-plus:hover{
    background-color: white;
}

div.big-plus i{
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   color: black;
   font-size: 15px;
}

.profile{
    align-self: flex-end;
    padding: 0 20px;
}

.profile div.flex i{
    font-size: 25px;
    color: gray;
}

div.profile h3{
    align-self: center;
    margin-left: 5px;
}

@media screen and (max-width:565px) {

    div.menu-container nav > img{
        display: none;
    }
}

/*layout pagina*/

.menu-container{
    background-color: black;
    height: calc(100vh - 70px);
    width: 160px;
    min-width: 160px;
    color: gray;
    flex-direction: column;
    display: grid;
}

main{
    flex-grow: 1;
    overflow: auto;
    background-color: rgb(29, 29, 29);
}

footer{
    background-color: rgb(75, 74, 74);
    height: 70px;
}

#layout-container{
    height: calc(100vh - 70px);
}

/*Top bar upgrade*/

#top-bar{
    background-color: rgba(41, 41, 41, 0.85);
    height: 70px;
    width: 100%;
    text-align: right;
    line-height: 70px;
}

#top-bar button{
    margin-right: 30px;
    padding: 10px 25px;
    border: 1px solid white;
    border-radius: 30px;
    background-color: transparent;
}

#top-bar button:hover{
    transition: all;
    scale: 1.2;
}

#top-bar a{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

@media screen and (max-width:565px) {
    
}

/*overflow container*/

#overflow-container{
    padding: 15px;
}

/*Tools bar*/

.green-underline{
    background-color: limegreen;
    height: 2px;
    width: 35%;
    margin: 0 auto;
    margin-top: 3px;
}

#tools-bar{
    width: 80%;
    margin: 0 auto;
}

#tools-bar ul{
    font-size: 13px;
    color: gray;
    list-style-type: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#tools-bar li{
    text-transform: uppercase;
}

#tools-bar li:hover{
    color: white;
}

/*Recently Played*/

#recently-played{
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.recently-played__content{
    height: 100%;
    width: calc(100% / 6 -10px);
    text-align: center;
    margin-right: 10px;
}

.recently-played__content img{
    width: 100%;
}

.recently-played__content i{
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    display: none;
}

.recently-played__content img:hover{
    opacity: 0.4;
}

.recently-played__content img:hover + i{
    display: block;
}

@media screen  and (min-width: 565px) and (max-width: 850px){
    #recently-played{
        justify-content: flex-start;
    }

    .recently-played__content{
        width: calc(100% / 4 - 10px);
    }

    .recently-played__content i{
        font-size: 10vw;
    }
}

@media screen  and (max-width: 565px){
    #recently-played{
        flex-direction: column;
    }

    .recently-played__content{
        width: calc(100% / 2 -10px)
        text-align: center;
        margin-top: 30px;
    }

    .recently-played__content i{
        font-size: 20vw;
    }
}